*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Header*/

.container-header{
    background-image: url(./img/cidade-bg.png);
    background-position: center;
    text-align: center;
    
}

.container-header > h1, h3{
    color: white;
    padding-bottom: 25px;
}

.container-header >h1{
    font-size: 70px;
}

.container-header >h3{
    font-size: 40px;
}

.container-header >h4{
    text-transform: uppercase;
    color: #FFB600;
    padding-bottom: 25px;
}

/*FIM DO HEADER*/

/*SESSAO 1 - SAMIRA E SOBRE ELA.*/

.container-sessao1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-sessao1 li{
    color: #000B41;
    font-size: 30px;
    max-width: 350px;
    margin: auto;
}

/*FIM SESSAO 1*/

/*INICIO SESSAO 2 - CONDIÇÕES ESPECIAIS*/

.container-sessao2{
    text-align: center;
    background-color: #000B41;
}

.container-sessao2 >h1{
    color: white;
    text-transform: uppercase;
}

.container-sessao2 >h2{
    max-width: 350px;
    color: #FFB600;
    padding: 15px 0;
    margin: auto;
}

/*FINAL SESSAO2*/

/* INICIO SESSAO 3*/

.container-produto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000B41;
    border-radius: 5px;
    margin: 5px 0;
}

.sessao3-textos {
    max-width: 470px;
    color: #000B41;
    
}



.sessao3-textos > h2{
    color: #FFB600;
}

.sessao3-textos button{
    color: white;
    background-color: #000B41;
    width: 90%;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.sessao3-textos button:hover{
    background-color: #FFB600;
}
.sessao3-textos button, a{
    text-decoration: none;
    color: white;
}


.container-produto{
    position: relative;
    padding: 5px;
    margin: 0 auto;
    
}

.gallery{
    align-items: center;
    display: flex;
    max-width: 540px;
    flex-wrap: nowrap;
    gap: 5px;
    margin-top: 25px;
}

/*Fazer ter uma barra de rolagem aqui.*/
.gallery-wrapper{
    overflow-x: auto;
}


.arrow-left, .arrow-right{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: white;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}

.arrow-right{
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);

}

.arrow-left:hover, .arrow-right:hover{
    opacity: 1;
}

.elemento{
    align-items: center;
    width: 380px;
    height: 350px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}



.current-element{
    opacity: 1;
}

.elemento p{
    color: black;
    text-align: center;
}


/*fim sessao 3*/

/*Inicio sessao 4 - */

.container-sessao4{
    margin-top: 10px;
}

.container-produto2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000B41;
    border-radius: 5px;
    margin-top: 5px;
}

.sessao4-textos {
    max-width: 470px;
    color: #000B41;
    
}



.sessao4-textos > h2{
    color: #FFB600;
}

.sessao4-textos button{
    color: white;
    background-color: #000B41;
    width: 90%;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.sessao4-textos button:hover{
    background-color: #FFB600;
}
.sessao4-textos button, a{
    text-decoration: none;
    color: white;
}

.container-produto2{
    position: relative;
    padding: 5px;
    margin: 0 auto;
    
}

.gallery2{
    align-items: center;
    display: flex;
    max-width: 540px;
    flex-wrap: nowrap;
    gap: 5px;
    margin-top: 25px;
}

/*Fazer ter uma barra de rolagem aqui.*/
.gallery-wrapper2{
    overflow-x: auto;
}


.arrow-left2, .arrow-right2{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: white;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}

.arrow-right2{
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);

}

.arrow-left2:hover, .arrow-right2:hover{
    opacity: 1;
}

.elemento2{
    align-items: center;
    width: 380px;
    height: 350px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}



.current-element2{
    opacity: 1;
}

.elemento2 p{
    color: black;
    text-align: center;

}
/* FINAL SESSAO 4 - RAVENA */

/* SESSAO 5- ALAMEDAS*/

.container-sessao5{
    margin-top: 10px;
}

.container-produto3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000B41;
    border-radius: 5px;
    margin-top: 5px;
}

.sessao5-textos {
    max-width: 470px;
    color: #000B41;
    
}

.sessao5-textos >h1, h3, h4{
    margin-bottom: 20px;
}

.sessao5-textos > h2{
    color: #FFB600;
}

.sessao5-textos button{
    color: white;
    background-color: #000B41;
    width: 90%;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.sessao5-textos button:hover{
    background-color: #FFB600;
}
.sessao5-textos button, a{
    text-decoration: none;
    color: white;
}
.container-produto3{
    position: relative;
    padding: 5px;
    margin: 0 auto;
    
}

.gallery3{
    align-items: center;
    display: flex;
    max-width: 540px;
    flex-wrap: nowrap;
    gap: 5px;
    margin-top: 25px;
}

/*Fazer ter uma barra de rolagem aqui.*/
.gallery-wrapper3{
    overflow-x: auto;
}


.arrow-left3, .arrow-right3{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: white;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}

.arrow-right3{
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);

}

.arrow-left3:hover, .arrow-right3:hover{
    opacity: 1;
}

.elemento3{
    align-items: center;
    width: 380px;
    height: 350px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}



.current-element3{
    opacity: 1;
}

.elemento3 p{
    color: black;
    text-align: center;

}

footer{
    background-color: #000B41;
    text-align: center;
}

footer h1{
    color: white;
    margin-bottom: 10px;
}

footer h2{
    color: #FFB600;
    margin-bottom: 10px;
}

footer button{
    color: white;
    background-color: #FFB600;
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}


@media screen and (max-width: 758px) {
    .container-header h1{
        font-size: 35px;
    }

    .container-header h3{
        font-size: 25px;
    }
    
    .container-header h4{
        font-size: 15px;
    }

    .container-sessao1{
        flex-wrap: wrap;
    }

    .container-sessao2 ul{
        list-style: none;
    }

    .container-sessao1 li{
        text-align: center;
        padding: 5px 0;
        list-style: none;
        border: 1px solid;
        border-radius: 3px;
        margin: 5px 0;
    }

    .container-sessao2{
        margin-top: 10px;

    }

    .container-sessao2 h1, h2{
        padding: 5px 0;
    }

    .container-produto{
        flex-wrap: wrap;
    }

    .container-produto img{
        max-width: 350px;
        text-align: center;
    }

   
    .container-produto2{
        flex-wrap: wrap;
    }

    .container-produto2 img{
        max-width: 350px;
        text-align: center;
    }

    .container-produto3{
        flex-wrap: wrap;
    }
    .container-produto3 img{
        max-width: 350px;
        text-align: center;
    }
  
    .sessao5-textos button{
        width: 100%;
      
    }

    .sessao4-textos button{
        width: 100%;
      
    }

    .sessao3-textos button{
        width: 100%;
      
    }

    footer h1{
        font-size: 20Px;
    }

    footer h2{
        font-size: 18px;
    }

}